.OrderTitle{
    background-color: blueviolet;
    box-shadow: 0 4px 6px darkslategray;
    color: white;
    border-radius: 4px;   
    text-align: center;
}
.CheckoutTitle {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: 12;
    width: max-content;
    height: 20px;
    display: flex;
    margin-left: 35%;  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.Price {
    width: max-content;
    background-color: blue;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 8px 8px gray;
    color: white;
    align-content: center;
    height: 20px;
    display: flex;
    margin-left: 35%;  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;   
}

.CancelButton {
    background-color: red;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    box-shadow: 0 3px 3px orange;
}
.ContinueButton {
    background-color: green;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    box-shadow: 0 3px 3px greenyellow;
}
.ButtonDiv {
    text-align: center;
}