.Person {
    width: 60%;
    margin: auto;
    border: 4px solid rgb(41, 40, 40);
    box-shadow: 0 4px 5px rgb(184, 182, 182);
    background-color:LightSteelBlue ;
    padding: 16px;
    text-align: center;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}