.Burger{
    width: auto;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger{
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 700px) and (min-height: 401px) {
    .Burger{
        width: 150px;
        height: 100px;
        font-size: 1.2em;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger{
        width: 250px;
        height: 200px;
    }
}