.SideDrawer {
    position: fixed;
    width: 180px;
    max-width: 180px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: dodgerblue;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Open{
    transform: translateX(0)
}

.Close{
    transform: translateX(-100%);
}

.Logo {
    height: 60px;
    width: 70px;
    margin-bottom: 32px;
}


@media (min-width: 600px) {
    .SideDrawer {
        display: none;
    }
    .Logo {
        height: 20px;
        margin-bottom: 32px;
    }
    .SideDrawer {
        position: fixed;
        width: auto;
        max-width: 150px;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 200;
        background-color: dodgerblue;
        padding: 32px 16px;
        box-sizing: border-box;
        transition: transform 0.3s ease-out;
    }    
}