.Button {
    background-color: #F0F0F0;
    color: white;
    cursor: pointer;
    border: none;
    font: inherit;
    padding: 10px;
    width: 120px;
    margin: 10px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 4px 4px dimgray;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: green;
}

.Danger {
    color: red;
}